.productcard {
  width: 15rem;
  margin: 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  overflow: hidden;
}

.btn-primary {
  background-color: #354d61 !important;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}
